/* RESER */
* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family:
}
.bg-yellow {
    background-color: yellow;
}

.container {
    width: 70%;
    margin: auto;
    height: 25%;
}
.logo {
    align-items: flex-start;
    background-color: blueviolet;
    padding: 5px 20px 5px 20px;
    flex-grow: .5;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 5px 0px;
}
.login {
    align-items: flex-start;
    padding: 5px 20px 5px 20px;
    background-color: red;
    flex-grow: .5;
    text-align: right;
    
}

header li {
    list-style: none;
    text-decoration: none;
    text-align: center;
    margin: 5px;
}
.flex-container > ul {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    background-color: blue;
 }
 .banner {
    width: 100%;
    background-color: orange;
    padding:15px;
 }
 .container-title {
    margin: auto;
    width: 50%;
    height: 200px;
    background-color: green;
 }
.blocks {
    display:flex;
    height: 200px;
    padding: 10px 0 10px 0;
 }
 .blockblue {
    background-color: blue;
    flex-grow: 2;
 }
 .blockpink {
    background-color: rgb(231, 96, 118);
    flex-grow: 1;
 }
.backgroundstyle {
    width: 100%;
}
.gray{
    background-color: gray;
}
.darkgray {
    background-color: rgb(63, 63, 63);

}
.bigblock {
    background-color: cyan;
    /* padding: 10px 0 10px 0; */
    height: 300px;
}
.clear-fix {
    content:"";
    display: table;
    clear: both;
    margin: auto;

}
.last-block {
    padding: 10px 0 10px 0;
}
.column {
    width: 50px;
    background-color: rgb(112, 87, 255);
    height: 200px;
    flex-grow: 1;
}
.bigcolumn {
    flex-grow: 3;
    background-color: purple;
}
footer, .bg-black{
    background-color: black;
    width: 100%;
}
.logo2 {
background-color: beige;
}
.foot {
    width: 100%;
    background-color: aquamarine;
    margin-bottom: 5px;;
}